@using Microsoft.AspNetCore.Mvc.TagHelpers
@model RickAndMorty.Web.Pages.ViewModels.CharacterViewModel

@{
    ViewData["Title"] =  $"All Characters";
}

<div class="container">
    <h1>@ViewData["Title"]</h1>
    
    <div class="alert alert-info">
        Data source: @(Model.FromCache ? "Cache" : "API")
    </div>
    
    <div class="mb-3">
        <a asp-action="Add" class="btn btn-primary">Add New Character</a>
    </div>

    <div class="row">
        @foreach (var character in Model.Characters)
        {
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="@character.Image" class="card-img-top" alt="@character.Name">
                    <div class="card-body">
                        <h5 class="card-title">@character.Name</h5>
                        <p class="card-text">
                            <strong>Status:</strong> @character.Status<br>
                            <strong>Species:</strong> @character.Species<br>
                            <strong>Species:</strong> @character.Gender<br>
                            <strong>Species:</strong> @character.Created<br>
                           <!-- <strong>Origin:</strong> @@character.Origin?<br>
                            <strong>Location:</strong> @@character.Location -->
                           
                        </p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>